# Dependencies
node_modules

# Testing
/test-results/
/playwright-report/
/coverage/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Data
/data/
/src/data/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~

# Security Reports
/security-audits/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Card scanner
/card_scanner/
/card_scanner
card_scanner
.venv